
.back{
  background-image: url("https://m.media-amazon.com/images/M/MV5BMTQ1MjQwMTE5OF5BMl5BanBnXkFtZTgwNjk3MTcyMDE@._V1_SX1900.jpg");
  background-repeat: no-repeat;
  height: 120vh;
}
.back::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  backdrop-filter: blur(4px);
  background:  linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(48,53,54,0.6278886554621849) 100%);
}

